/*second*/
.stats-section{
    padding: 60px 0;
    background-color: white;
    color: black;

}
.stat-number{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}
.stat-text{
    color: black;
    font-size: 0.95rem;
    margin-top: px;
}
/*third-section*/
*third-section*/
section{
    padding: 20px 60px;
    text-align: center;

}
 
h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0a0a0a;
}


.subtitle{
    font-size: 0.95rem;
    color: #6b7280;
    max-width: 500px;
    margin: 0 auto 50px;
    line-height: 1.5;
}
.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    border-radius: 14px;
    overflow: hidden;
    width: 280px;
    text-align: center;
}

.card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.card h3{

    font-size: 1.05rem;
    font-weight: 600;
    margin: 15px 4px;
    color: #000;

}

.card p{
    font-size: 0.9rem;
    color: #0a0a0a;
    margin-bottom: 15px;
}
